@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	height: 100vh;
}

.parent-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: "Poppins";
}

b {
	font-weight: 600;
}

.light { font-weight: 300; }
.regular { font-weight: 500; }
.semi-bold { font-weight: 600; }

.small { font-size: 20px; }
.normal { font-size: 50px; }
.big { font-size: 80px; }

